
.headerLink {
    color: white;
    text-decoration: none;
    font-size: 35px;
    font-family: 'Orelega One', cursive;
  }
  
  .headerLink.active {
    color: var(--dark-color); 
  }
  
  .headerLink:hover {
    color: var(--dark-color);
    border-bottom: 3px solid var(--dark-color);
    transition: 0.3s ease;
  }
  
  #header {
  
    justify-content: space-between;
  }
  
  #rightHeader {
    gap: 50px;
  }
  
  #memoji img:hover {
    content: url('../photos/tounge-memoji.png')
  }
  